<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/products">
      <img src="assets/images/logo.png" alt="xiyu's Angular project" class="img-responsive">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list" *ngFor="let tempCategory of productCategories">
        <li>
          <a routerLink="/category/{{tempCategory.id}}/{{tempCategory.categoryName}}" routerLinkActive="active-link" >{{tempCategory.categoryName}}</a>
        </li>

      </ul>
      <li>
        <a routerLink="/newcategory" routerLinkActive="active-link" >create new category</a>
      </li>
      <li>
        <a routerLink="/newproduct" routerLinkActive="active-link" >create new product</a>
      </li>

    </nav>
  </div>
</aside>
